:root {
    /* Primary Color */
    --clr-strong-cyan: hsl( 171, 66%, 44% );
    --clr-light-blur: hsl( 233, 100%, 69% );

    /* Neutral Color */
    --clr-dark-grayish-blue: hsl( 201, 10%, 33% );
    --clr-grayish-blue: hsl( 201, 11%, 66% );

    /* Font Size */
    --fs: 18px;

    /* Google Font */
    --ff: 'Bai Jamjuree', sans-serif;

    /* Font Weight */
    --fw-400: 400;
    --fw-600: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff);
}

/* Header Styles */

header {
    text-align: center;
    background-image: url(./images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-content > h1 {
    font-weight: var(--fw-600);
    font-size: 42px;
}

.header-content > p {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-400);
    font-size: var(--fs);
    max-width: 650px;
    margin: 0 auto;
}

.download {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    max-width: 35%;
    margin: 0 auto;
}

.download > li {
    padding: 1rem;
    border-radius: 100px;
    max-width: 200px;
    cursor: pointer;
}

.download > li > a {
    text-decoration: none;
    color: #fff;
    font-weight: var(--fw-400);
}

.ios-link {
    background-color: var(--clr-strong-cyan);
}

.mac-link {
    background-color: var(--clr-light-blur);
}

/* Track Section Styles */

.track-section {
    height: 900px;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
}

.track-header {
    text-align: center;
    height: 130px;
    display: grid;
}

.track-header > h1 {
    font-size: 34px;
    font-weight: var(--fw-600);
}

.track-header > p {
    color: var(--clr-grayish-blue);
    font-size: 15.5px;
    font-weight: var(--fw-400);
    max-width: 600px;
    margin: 0 auto;
}

.track-sub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.sub_img {
    position: relative;
    left: -25px;
}

.sub_content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-left: 4rem;
}

.quick-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icloud {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.complete-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quick_search_header > h2,
.icloud_header > h2,
.complete_history_header > h2 {
    font-weight: var(--fw-600);
}

.quick_search_p > p,
.icloud_p > p,
.complete_history_p > p {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-400);
    padding-top: 0.5rem;
    max-width: 350px;
}

/* Clipboard Section */
.clipboard-section {
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section_header {
    text-align: center;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.clipboard-header > h1 {
    font-size: 34px;
    font-weight: var(--fw-600);
}

.clipboard-p > p {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-400);
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

.clipboard_img {
    text-align: center;
}

/* Tools Section Style */
.section_header {
    text-align: center;
}

.tools-header > h1 {
    font-size: 34px;
    font-weight: var(--fw-600);
}

.tools-p > p {
    font-size: 16px;
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-400);
}

.section_content {
    height: 320px;
    padding: 3rem 0;
}

.section-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    max-width: 85%;
    margin: 0 auto;
}

.blacklist {
    display: grid;
    text-align: center;
}

.snippet {
    display: grid;
    text-align: center;
}

.sneak-preview {
    display: grid;
    text-align: center;
}

.blacklist > div,
.snippet > div,
.sneak-preview > div {
    width: 100%;
}

.blacklist-header > h2,
.snippet-header > h2,
.sneak-preview-header > h2 {
    font-weight: var(--fw-600);
}

.blacklist-p > p,
.snippet-p > p,
.sneak-preview-p > p {
    color: var(--clr-grayish-blue);
    max-width: 350px;
    margin: 0 auto;
    line-height: 1.5rem;
}

/* Sponsor Section Style */

.sponsor-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
}

.sponsor-wrapper {
    display: flex;
    justify-content: space-evenly;
}

/* Second Clipboard Section Style */
.second-clipboard {
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem 0 8rem 0;
}

.second_clipboard_content {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.second-clipboard-header > h1 {
    font-size: 34px;
    font-weight: var(--fw-600);
}

.second-clipboard-p > p {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-400);
    font-size: 16px;
    max-width: 580px;
    margin: 0 auto;
}

/* Footer Section Style */
footer {
    height: 150px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 0.8fr 2fr 1fr;
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.footer-img {
    display: flex;
    align-items: center;
}

.footer-img > img {
    width: 90px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
    max-width: 70%;
}

.links > li > a {
    text-decoration: none;
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-600);
}

.links > li > a:hover {
    color: var(--clr-strong-cyan);
    font-weight: var(--fw-600);
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials_links {
    list-style: none;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.socials_links > li {
    margin-right: 2.5rem;
}

.socials_links > li:nth-child(3) {
    margin-right: 0;
}


@media only screen and (max-width: 1280px) {
    .sub_content {
        padding-left: 1.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .sub_img > img {
        max-width: 100%;
    }

    .clipboard_img > img {
        max-width: 100%;
    }

    .download {
        max-width: 45%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 800px) {
    footer {
        background-image: url(./images/bg-header-mobile.png);
    }
    .download {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 130px;
        max-width: 100%;
    }

    .download > li {
        width: 100%;
    }

    .track-section {
        height: 1110px;
        text-align: center;
    }

    .track-sub {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 50px;
    }

    .sub_img {
        position: unset;
    }

    .sub_content {
        padding: 0;
    }

    .quick-search,
    .icloud,
    .complete-history {
        height: 120px;
    }

    .quick_search_p > p,
    .icloud_p > p,
    .complete_history_p > p {
        margin: 0 auto;
    }

    .section_content {
        height: 700px;
    }
    
    .section-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 600px;
        max-width: 85%;
        margin: 0 auto;
    }

    .sponsor-section {
        height: 700px;
    }
    
    .sponsor-wrapper {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 600px;
    }

    footer {
        height: 450px;
    }

    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-img {
        justify-content: center;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .links {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        max-width: 100%;
    }

    .socials_links {
        justify-content: center;
    }
}