:root {
    /* Primary Color */
    --clr-strong-cyan: hsl( 171, 66%, 44% );
    --clr-light-blur: hsl( 233, 100%, 69% );

    /* Neutral Color */
    --clr-dark-grayish-blue: hsl( 201, 10%, 33% );
    --clr-grayish-blue: hsl( 201, 11%, 66% );

    /* Font Size */
    --fs: 18px;

    /* Google Font */
    --ff: 'Bai Jamjuree', sans-serif;

    /* Font Weight */
    --fw-400: 400;
    --fw-600: 600;
}