:root {
    /* Primary Color */
    --clr-ios-download: hsl( 171, 66%, 44% );
    --clr-mac-download: hsl( 233, 100%, 69% );

    /* Neutral Color */
    --clr-header: hsl( 201, 10%, 33% );
    --clr-paragraph: hsl( 201, 11%, 66% );

    /* Font Size */
    --fs: 18px;

    /* Google Font */
    --ff: 'Bai Jamjuree', sans-serif;

    /* Font Weight */
    --fw-400: 400;
    --fw-600: 600;
}

*,
::before,
::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff);
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* Header */
.header {
    background-image: url(./images/bg-header-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.logo {
    padding: 6rem 0 3rem 0;
}

.header__title {
    max-width: 360px;
    margin: 0 auto 1.5rem auto;
}

.title {
    color: black;
    font-size: 2.1rem;
}

.header_h1 {
    line-height: 1.5;
}

.header__p {
    max-width: 310px;
    margin: 0 auto 2rem auto;
}

.paragraph {
    color: var(--clr-paragraph);
    line-height: 1.5;
}

.ios {
    background-color: var(--clr-ios-download);
    margin-bottom: 1rem;
    padding: 1rem 0;
    max-width: 280px;
    margin: 0 auto 1.5rem auto;
    border-radius: 2rem;
    cursor: pointer;
}

.ios__link,
.mac__link {
    color: #fff;
    font-weight: var(--fw-600);
}

.mac {
    background-color: var(--clr-mac-download);
    padding: 1rem 0;
    max-width: 280px;
    margin: 0 auto;
    border-radius: 2rem;
    cursor: pointer;
}

.snippets-section {
    text-align: center;
    padding: 10rem 0 0 0;
}

.snippets__header {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 0 1rem 0;
}

.snippets__h1 {
    font-size: 1.7rem;
    line-height: 1.5;
}

.snippets__paragraph {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 0 4rem 0;
}

.snippets__p {
    line-height: 1.7;
}

.snippets__img {
    max-width: 75%;
}

.quick__search,
.icloud,
.history {
    margin: 4rem 0 0 0;
}

.quick__search-paragraph,
.icloud-paragraph,
.history-paragraph {
    max-width: 300px;
    margin: .8rem auto 0 auto;
}

.access-section {
    padding: 10rem 0 0 0;
    text-align: center;
}

.access__header {
    max-width: 300px;
    margin: 0 auto 0 auto;
    padding-bottom: 1.5rem;
}

.access__h1 {
    font-size: 1.6rem;
}

.access__paragraph {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 0 4rem 0;
}


.access__img {
    max-width: 80%;
}

.supercharge {
    padding: 5rem 0;
}

.supercharge__header {
    max-width: 300px;
    margin: 0 auto 1rem auto;
}

.supercharge__h1 {
    font-size: 1.8rem;
}

.supercharge__paragrapgh {
    max-width: 300px;
    margin: 0 auto;
}

.blacklist {
    margin-top: 1rem;
}

.text,
.preview {
    margin: 5rem 0 0 0;
}

.blacklist__image,
.text__image,
.preview__image {
    margin: 0 0 2rem 0;
}

.blacklist__header,
.text__header,
.preview__header {
    margin: 0 0 1rem 0;
}

.blacklist__h2,
.text__h2,
.preview__h2 {
    font-size: 1.5rem;
}

.blacklist__paragraph,
.text__paragraph,
.preview__paragraph {
    max-width: 300px;
    margin: 0 auto;
}