@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-image: url(./images/bg-header-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {

  header {
    background-image: url(./images/bg-header-desktop.png);
  }
  
}